// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// override

[aria-expanded="true"] i{
    color: #ffffff !important;
}
.sidebar .nav.sub-menu .nav-item::before{
    content: '';
    width: unset !important;
    height: unset !important;
    position: unset !important;
    margin-top: unset !important;
    border-radius: unset !important;
    background: unset !important;
}
.list-wrapper {
    height: 390px !important;
    overflow: unset !important;
    overflow-y: scroll !important;
}
.card-people{
    padding-top: unset !important;
}
.card-people .weather-info {
    bottom: 1em !important;
    top: unset !important;
    right: 24px;
    color: #ffffff;
}
.sidebar .nav:not(.sub-menu) > .nav-item > .nav-link[aria-expanded="true"]{
    border-radius: 8px !important;
}
.sidebar .nav.sub-menu{
    border-radius: 8px !important;
    background: #e0e6ff !important;
    margin-top: 5px !important;
    padding: 5px 0 0 10px !important;
}
.sidebar .nav.sub-menu .nav-item .nav-link{
    color: #6C7383 !important;
}

// navbar
.navbar {
    -webkit-box-shadow: 0px 5px 21px -5px #e9e9e9!important;
    -moz-box-shadow: 0px 5px 21px -5px #e9e9e9!important;
    box-shadow: 0px 5px 21px -5px #e9e9e9!important;
}
.sidebar .nav:not(.sub-menu) > .nav-item.active{
    background: unset !important;
}

// card
.card{
    border-radius: 8px !important;
}

// buttons
.btn{
    border-radius: 8px !important;
}
.btn-info {
    color: #fff;
    background-color: #1376da !important;
    border-color: unset !important;
}

//  informations
.alert {
    color: #f5f5f5 !important;
    background-color: #ffffff !important;
    border-color: #efefef !important;
}
.alert-dismissible {
    padding-right: unset !important;
}
.alert i{
    line-height: unset !important;
    cursor: pointer;
}
.close-multi-msg {
    position: absolute;
    top: 1em;
    right: 1px;
    cursor: pointer;
}

// alert color
.alert-warning{
    color: #fcb317 !important;
}
.alert-success{
    color: #01cc77 !important;
}
.alert-info{
    color: #5783c5 !important;
}
.alert-danger{
    color: #e73838 !important;
}

// inputs, select, texarea
select.form-control, select.asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row select, .select2-container--default select.select2-selection--single, .select2-container--default .select2-selection--single select.select2-search__field, select.typeahead, select.tt-query, select.tt-hint{
    color: #464646 !important;
}
select.round {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), radial-gradient(#ddd 70%, transparent 72%);
    background-position: calc(100% - 20px) calc(20px + 2px), calc(100% - 15px) calc(20px + 2px), calc(100% - 10px) 14px;
    background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
    background-repeat: no-repeat;
}
  
  select.round:focus {
    background-image: linear-gradient(135deg, transparent 50%, gray 50%), linear-gradient(45deg, gray 50%, transparent 50%), radial-gradient(#ddd 70%, transparent 72%);
    background-position: calc(100% - 20px) 22px, calc(100% - 15px) 22px, calc(100% - 10px) 14px;
    background-size:
      5px 5px,
      5px 5px,
      1.5em 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }

//   table
