// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// override

// navbar
.navbar{
    box-shadow: none !important;
    border-bottom: 1px solid #ebebeb;
}

// sidebar
[aria-expanded="true"] i{
    color: #ffffff !important;
}
.sidebar .nav.sub-menu .nav-item::before{
    content: '';
    width: unset !important;
    height: unset !important;
    position: unset !important;
    margin-top: unset !important;
    border-radius: unset !important;
    background: unset !important;
}
.list-wrapper {
    height: 390px !important;
    overflow: unset !important;
    overflow-y: scroll !important;
}
.card-people{
    padding-top: unset !important;
}
.card-people .weather-info {
    bottom: 1em !important;
    top: unset !important;
    right: 24px;
    color: #ffffff;
}
.sidebar .nav:not(.sub-menu) > .nav-item > .nav-link[aria-expanded="true"]{
    border-radius: 8px !important;
}
.sidebar .nav.sub-menu{
    border-radius: 8px !important;
    background: #e0e6ff !important;
    margin-top: 5px !important;
    padding: 5px 0 0 10px !important;
}
.sidebar .nav.sub-menu .nav-item .nav-link{
    color: #6C7383 !important;
}

.sidebar .nav:not(.sub-menu) > .nav-item.active{
    background: unset !important;
}

// card
.card{
    border-radius: 8px !important;
}

// buttons
.btn{
    border-radius: 8px !important;
}
.btn-info {
    color: #fff;
    background-color: #1376da !important;
    border-color: unset !important;
}

//  informations
.alert {
    font-size: 0.875rem !important;
    position: fixed !important;
    top: 5em !important;
    right: 1em !important;
    padding: 10px 70px 10px 20px !important;
    z-index: 10000 !important;
    color: #747474 !important;
    background-color: #ffffff !important;
    border-color: #efefef !important;
    border-left: 5px solid #1376da !important;
    box-shadow: 3px 3px 0px 0px #e7e7e7 !important;
    max-width: 400px;

    strong{
        background-color: #00000000 !important;
    }

    p{
        margin-bottom: 0 !important;
    }
}
.alert .close-alert-btn{
    line-height: unset !important;
    cursor: pointer;
    position: absolute !important;
    top: 1em !important;
    font-size: 10px !important;
    right: 1em !important;
    margin-right: 0 !important;
}
.close-multi-msg {
    position: absolute;
    top: 1em;
    right: 1px;
    cursor: pointer;
}

// alert color
.alert-warning{
    color: #fcb317 !important;
}
.alert-success{
    color: #01cc77 !important;
}
.alert-info{
    color: #5783c5 !important;
}
.alert-danger{
    color: #e73838 !important;
}

// inputs, select, texarea
select.form-control, select.asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row select, .select2-container--default select.select2-selection--single, .select2-container--default .select2-selection--single select.select2-search__field, select.typeahead, select.tt-query, select.tt-hint{
    color: #464646 !important;
}
select.round {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), radial-gradient(#ddd 70%, transparent 72%);
    background-position: calc(100% - 20px) calc(20px + 2px), calc(100% - 15px) calc(20px + 2px), calc(100% - 10px) 14px;
    background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
    background-repeat: no-repeat;
}
  
  select.round:focus {
    background-image: linear-gradient(135deg, transparent 50%, gray 50%), linear-gradient(45deg, gray 50%, transparent 50%), radial-gradient(#ddd 70%, transparent 72%);
    background-position: calc(100% - 20px) 22px, calc(100% - 15px) 22px, calc(100% - 10px) 14px;
    background-size:
      5px 5px,
      5px 5px,
      1.5em 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }

//   table
table {
    tr.t-row {
        border: 10px solid #f5f7ff;
        background: #ffffff;
        border-right: 0;
        border-left: 0;
    }
    td{
        border-top: 0 !important;
        border-bottom: 0 !important;
        p{
            margin-bottom: 0 !important;
        }

        .show-options{
            cursor: pointer;
        }
    }
}

// manage user {{$user->name}}
.user-status{ 
    position: relative;

    .approved{
        background: #ffffff;
        border-left: 5px solid #1376da !important;
        font-weight: 600;
        border: 1px solid #f1f1f1;
        border-radius: 0.25rem;
    }
    .pending{
        background: #ffffff;
        border-left: 5px solid #1376da !important;
        font-weight: 600;
        border: 1px solid #f1f1f1;
        border-radius: 0.25rem;
    }
    .approved{
        background: #ffffff;
    }
}